<% include ./header %>
<style>


</style>
<br>

<div>

                          <h4>1. <a href="/questions/c" >Add question to C</a></h1>
                          <h4>2. <a href="/questions/java" >Add question to Java</a></h1>
                          <h4>3. <a href="/users" >List of Contestants</a></h1>

</div>

<% include ./footer %>
