<% include ./header%>
<center><h1 style="color:black;font-size:30px">INTERFACE</h1></center>
<center><h1 style="color:black;font-size:15px">presents</h1></center>
<center><h1 style="color:black;font-size:40px">CODE CONNOISSEUR</h1></center>
<div class="container">
<center>
<a href="/questions/java/display" class="btn btn-danger" style="margin-top:10%">Start The Contest</a>
</center>
</div>
<%include ./footer%>