<% include ./header %>
<div style="text-align:center">


<div class="container" style="width:700px">
<div>
<h1>Select Language</h1>
<br>
    <a href="/c" class="btn btn-danger" role="button" style="width:60px">C</a>
    <a href="/java" class="btn btn-danger" style="width:60px">Java</a>
    
</div>
<br>
<br>
<h1>RULES FOR THE CONTEST</h1>
<div class="ui top attached segment">
<div class="ui divided items" style="text-align:left">
<div class="item" >
<div class="content">
1.Rule 1
</div>
</div>
<div class="item">
<div class="content">
2.Rule2
</div>
</div>
<div class="item">
<div class="content">
3.Rule 3
</div>
</div>

</div>
</div>
</div>



</div>
<% include ./footer %>